
#app {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 100vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.read-the-docs {
  color: #888;
}

#reset-btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #646cff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

#product-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  flex-grow: 1;
}

#product {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.25s;
}
#product:hover {
  transform: scale(1.1);
}
#product:hover {
  border: 1px solid #646cff;
  box-shadow: 0 0 1em #646cffaa;
}

#project-name{
  color: #646cff;
}


/* -------------------- Jour 2 -------------------- */

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.2em;
}
.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  width: fit-content;
  margin: 1em auto;
}
.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  width: fit-content;
  margin: 0.8em auto;
}
.card {
  width: 300px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
}
.card:hover, .card.selected {
  transform: scale(1.1);
  border: 1px solid #646cff;
  box-shadow: 0 0 1em #646cffaa;
  transition: all 0.3s ease;

}
.card {
  width: 300px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-role {
  font-size: 0.95em;
  font-weight: bold;
  color: #dee0ff;
}
.delete-btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #ff6464;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.exercices_container {
  padding: 1em;
  gap: 1em;
}

.exercice_title {
  font-size: 1.5em;
  font-weight: bold;
  color: #646cff;
  width: fit-content;
  margin-top: 20px;
}
.todo-lst-container {
  background-color: #fff;
  color: #000;
  padding: 1em 0;
}
.todo-lst-title {
  font-size: 2.5em;
  font-weight: bold;
  width: fit-content;
  margin: 0.8em auto;
  margin-top: 0.4em;
}
.filter-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
  padding: 0em 2em;
  box-shadow: 0 6px 10px 1px #8181814d;
}
.theme-btn {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.theme-btn:hover {
  border-color: #646cff;
}
.theme-btn:focus,
.theme-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.filter-btns {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
}
.filter-btns button{
  height: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
}
.dark {
  background-color: #333;
  color: #fff;
}

.filter-btns button.active {
  border-bottom: 3px solid #646cff;
  background-color: #646cff1a;
}

.filter-btns button:hover {
  border-bottom: 3px solid #646cff;
}

.filter-btns button:focus {
  outline: none;
}
.todo-lst{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  margin: 2em 1em;
}
.done-checkbox {
  margin-right: 2em;
}
.task-done {
  text-decoration: line-through #0006;
  opacity: 0.6;
}